.cantidad__carrito{
  font-size: .6rem;
  position: absolute;
  text-align: center;
  top:15px;
  left: 30px;
  width: 17px;
  height: 17px;
  color: #fff;
  background-color: #644BD6;    
  border-radius: 50%;
}

@media (max-width: 640px){
    .cantidad__carrito{
    top: 7px;
    left: 35px;
    }

}