.carrito__image_product{
    height: 250px;
    display: block;
    

}

@media (max-width: 640px){
    .detail__delete_items{
        height: 800px;

    }
    .carrito_image{
        height: 100%;
    }
}